<% if notice %>
  <div class="notification is-success"><%= notice %></div>
<% end %>

<% content_for :title, "Taskmanagers" %>

<h1 class="title is-2">Taskmanagers</h1>

<!-- 新規作成 -->
<%= render "new", taskmanager: @taskmanager %>

<!-- 退避一覧 -->
<div class="box">
    <h2>退避</h2>
    <div class="content">
        <ul>
            <% @taskmanagers.each do |taskmanager| %>
                <% if taskmanager.is_waiting? %>
                    <li id="<%= taskmanager.id %>" style="display: flex; justify-content: space-between; align-items: center;">
                        <span><%= taskmanager.title %></span>
                        <%= button_to "", pop_taskmanager_path(taskmanager), method: :patch, class: "delete is-small" %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>

